// 사용자 정의 변수

//Color
$color-dark-grass: #005a27;
$color-light-grass: #79ffbc;
$color-snow: #ffffff;
$color-grass: #3dd28d;
$color-smoke: #e5e5e5;
$color-light-grey: #e1e2e1;
$color-grey2: #c2c2c2;
$color-grey: rgb(141, 141, 141);
$color-dark-grey:#373737;

//Font size
$size-s: 18px;
$size-xs: 14px;
