// 사용자 정의 변수

//Color

$color-dark-grass: #005a27;
$color-light-grass: #79ffbc;
$color-grey: rgb(138, 138, 138);
$color-snow: #ffffff;
$color-smoke: #e4e4e4;
$color-grass: #3dd28d;
$color-light-grey: #e1e2e1;
