// Home
.home {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 465px;

  .bg-img {
    width: 100%;
    flex-grow: 1;
    height: 100%;
    background-image: linear-gradient(
      134deg,
      #63c025 -5%,
      #218850 56%,
      #218850 56%
    );
    position: absolute;
    top: 0;
  }
  .input-wrapper {
    margin-top: 160px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .blur-wrapper h1 {
      backdrop-filter: blur(2px);
      font-weight: 200;
      color: white;
      margin-bottom: 35px;
    }
    .input-group {
      display: flex;
      backdrop-filter: blur(2px);
      width: 100%;
      height: 72px;
      padding: 0 40px;
      margin-top: 15px;
      .btn-outline-secondary {
        background-color: $color-dark-grass;
        border: none;
        color: white;
        &:hover {
          background-color: $color-grey;
        }
      }
      .form-control {
        padding-left: 30px;
      }
    }
  }
}

// Baneer
.banner {
  background-color: $color-light-grey;
  padding: 30px 0;
  margin: 30px auto;
  max-width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .description h6 {
    color: $color-grey;
    font-weight: 200;
  }

  .banner-button {
    all: unset;
    cursor: pointer;
    background-color: $color-dark-grass;
    color: $color-snow;
    border-radius: 4px;
    padding: 0px 14px;
    height: 45px;
    transition: all 0.3s linear;

    &:hover {
      background-color: $color-grey2;
      color: black;
    }
  }
}

// Info
.info {
  display: flex;
  justify-content: center;
  gap: 40px;

  .info-column {
    padding: 20px;
    width: 250px;
    position: relative;

    .column_top {
      font-size: $size-s;
      display: flex;
      justify-content: space-between;
      margin: 0;
    }

    button {
      all: unset;
      cursor: pointer;
      width: 45px;
      padding: 6px 8px;
      background-color: $color-light-grey;
      border-radius: 4px;
      font-size: 12px;
      font-weight: 200;
      text-align: center;
      color: $color-grey;
    }
    .column_board {
      margin-top: 6px;
      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: $color-smoke;
      }

      .post {
        margin: 18px 0px;
        font-size: $size-xs;
      }
    }
  }
}
